<template name="footer">
    <div class="contact-section" id="contact">
        <div class="w-row">
            <div class="w-col w-col-6" id="contact">
                <p class="contact-information"><strong>UNUSUAL EXPEDITION PTE LTD</strong>
                    <br><strong>808, French Road, #07-163, <br>Kitchener Complex, Singapore, 200808</strong>
                    <br><strong>+65 6591-8811</strong>
                    <br><strong>contact@unusualexpedition.com</strong>
                    <br>Travel Agency License: 02513
                    <br>Company Registration: 201400451K</p>
                <div><strong>FOLLOW US ON FACEBOOK</strong>
                </div>
                <div class="w-widget w-widget-facebook">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Funusualexpedition%2F&amp;layout=standard&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false"
                            scrolling="no" frameborder="0" allowtransparency="true"
                            style="border: none; overflow: hidden; width: 300px; height: 50px;"></iframe>
                </div>
            </div>
            <div class="w-col w-col-6">
                <iframe
                        width="100%"
                        height="300px"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCDN8Q2efVhQFGbVUFaqN9WYv-XBQ2asT4
    &q=808,+French+Road,+%2307-163,+Kitchener+Complex,+Singapore,+200808+" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div>

        <div class="footer">
            <div class="w-row">
                <div class="w-col w-col-8">
                    <div class="footer-text">Copyright 2015 Unusual Expedition | All Rights Reserved | All photos on
                        this website are copyrighted material and all rights are reserved.
                        <br>Phone: (+65) 6591-8811 | Email: contact@unusualexpedition.com
                    </div>
                </div>
                <div class="w-col w-col-4">
                    <div class="w-row">
                        <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                            <a class="member-link w-inline-block" href="https://www.facebook.com/unusualexpedition/"
                               target="_blank"><img alt="Unusual Expedition Facebook" src="{{fixImage}}images/facebook32.png">
                            </a>
                        </div>
                        <div class="member-link w-col w-col-4 w-col-small-4 w-col-tiny-4">
                            <a class="w-inline-block" href="https://www.instagram.com/joseph.mak/" target="_blank"><img
                                    alt="Unusual Expedition Instagram" src="{{fixImage}}images/instagram.png">
                            </a>
                        </div>
                        <div class="member-link w-col w-col-4 w-col-small-4 w-col-tiny-4">
                            <a class="w-inline-block"
                               href="mailto:contact@unusualexpedition.com?subject=Hello%20Unusual%20Expedition"
                               target="_blank"><img alt="Unusual Expedition Email" src="{{fixImage}}images/e-mail-envelope.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>