<template name="navbar">
    <div id="nav" class="fixed-nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400"
         data-ix="fixed-navbar">
             <a class="w-nav-brand" href="/"><img class="fixed-navbar-logo" sizes="63px" src="/images/logo01_color.png"
                                             srcset="/images/logo01_color-p-500x229.png 500w, /images/logo01_color.png 594w"
                                             width="63">
        </a>
        <nav class="w-nav-menu  navbar-collapse" role="navigation" id="navbar-collapse-2">
            <a class="nav-link-menu w-nav-link" href="/">Home</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/upcomingtour">Upcoming Tour</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/portfolio">PORTFOLIO</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/travel-blog">TRAVEL BLOG</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/about-us">About</a>
            <a class="nav-link-menu w-nav-link" href="#contact">Contact</a>
        </nav>

        <!--<div class="w-nav-button" data-toggle="collapse" data-target="#navbar-collapse-2">-->
        <!--<div class="w-icon-nav-menu" id="w-icon-nav-menu2"></div>-->
        <!--</div> -->
        <div class="w-nav-button" id="w-icon-nav-menu2">
            <div class="w-icon-nav-menu"></div>
        </div>


    </div>


</template>
