<template name="pageNavbar">
    <div id="page-nav" class="nav-bar-menu w-nav" style="height: inherit" data-animation="default"
         data-collapse="medium" data-duration="400" data-ix="fixed-navbar-appear">
        <a class="w-nav-brand" href="/"><img class="logo-img" sizes="(max-width: 479px) 184px, 265px"
                                             src="/images/logo02.png"
                                             srcset="/images/logo02-p-500x76.png 500w, /images/logo02-p-800x121.png 800w, /images/logo02-p-1080x163.png 1080w, /images/logo02-p-1600x242.png 1600w, /images/logo02.png 1803w"
                                             width="265">
        </a>
        <nav class="w-nav-menu navbar-collapse" id="navbar-collapse-1" role="navigation">
            <a class="nav-link-menu w-nav-link" href="/">Home</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/upcomingtour">Upcoming Tour</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/portfolio">PORTFOLIO</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/travel-blog">TRAVEL BLOG</a>
            <a class="nav-link-menu w-nav-link" href="/singapore/about-us">About</a>
            <a class="nav-link-menu w-nav-link" href="#contact">Contact</a>

        </nav>
        <div class="w-nav-button" id="w-icon-nav-menu1">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>

</template>
